:root {
    --heading-font: 'Signika Negative', sans-serif;
    --body-font: 'Hanken Grotesk', sans-serif;
    --white: #FFFFFF;
    --black: #000000;
    --background: #F0DBD6;
    --deep: #252036;
    --blue: #0250B2;
    --orange: #E36140;
    --yellow: #F29635;
    --red: #CE3C51;
    --pink: #AE2865;
}