@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url(./defaults.css);

body, html {
    background-color: var(--background);
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
}

a {
    color: var(--black);
    font-family: var(--body-font);
    text-decoration: none;
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer, header {
    background-color: var(--white);
    padding: 4rem;
}

footer nav {
    font-size: 1.2rem;
    text-align: center;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: var(--heading-font);
}

iframe {
    width: 100%;
    height: 100%;
}

main {
    padding: 4rem;
    text-align: center;
}

main div {
    background-color: var(--white);
}

main div.grid-2,
main div.grid-3,
main div.grid-4 {
    background-color: unset;
}

.aspect-ratio-1-1::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / 1/1);
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-gap-small {
    grid-gap: 0.5rem;
}

.grid-gap-medium {
    grid-gap: 1rem;
}

.grid-gap-large {
    grid-gap: 2rem;
}

.span-col-2{grid-column: span 2 / auto;}
.span-col-3{grid-column: span 3 / auto;}
.span-col-4{grid-column: span 4 / auto;}

.span-row-2{grid-row: span 2 / auto;}
.span-row-3{grid-row: span 3 / auto;}
.span-row-4{grid-row: span 4 / auto;}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}